#signupsection2 {
    background: url("../img/v1.jpg");
    background-size: cover;

}

.boxtext-h2{
    letter-spacing: -2px;
    display: inline;
    background: rgba(232, 227, 22, 0.8);
    padding: 2px 4px;
    
}

.

.component {
padding-top: 40px;
}


.grid-bg {
background: url("../img/grid.png") repeat;
    
    
}